body {
  background-image: linear-gradient(45deg, transparent 20%, rgb(233, 237, 255) 25%, transparent 25%),
  linear-gradient(-45deg, transparent 20%, rgb(233, 237, 255) 25%, transparent 25%),
  linear-gradient(-45deg, transparent 75%, rgb(233, 237, 255) 80%, transparent 0),
  radial-gradient(rgb(238, 232, 255) 2px, transparent 0);
  background-size: 30px 30px, 30px 30px;
}

p {
  text-align: justify;
}

.footer {
    text-align: center;
    font-size: 14px;
}

.stick-to-top {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: -1px; /* super important since we have a javascript intersection listener used to toggle the little logo */
  z-index: 2000; /* otherwise gets hidden behind bootstrap info boxes */
}

#sticky-logo {
    display: none; /* initial display is none, and when the tabs go sticky, we show it using js */
}

.nav-tab-with-background {
    background-color: white;
    opacity: 0.95;
}

.link-to-top {
  width: 100%;
  text-align: right;
  position: fixed;
  bottom: 50%;
  right: 1px;
  z-index: 2000; /* otherwise gets hidden behind bootstrap info boxes */
}
